<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header class="header-conteiner">
       <h2> Bem vindo ao Site da Comunidade</h2> 
       
    </header>
    <div class="imagen-familia">
        <img style="opacity: 0.5;" src="../imagens/4008345.jpg" alt="imagen-familia">
    </div>

    <div class="conteiner-main"> 
        <div class="search"> 
            <label for="search-family"><h2>Pesquisar familia</h2></label><br>
            <input type="text" name="search-family" id="" placeholder="Pesquisar familia"><br>
            <input type="button" value="Procurar">
        </div>
    </div>
    <div class="dialogo">
        <p> <strong>Naõ encontrou sua famila?</strong>  cadastre-se  para que possar participar <br> de varios eventos em Nossa comunidade Quilombola</p>
    </div>
    <div class="cadastrar-familia">
        <a href="cadastro.html"><input type="button" value="Cadastre sua familia"></a>
    </div>
    <footer class="footer">
        <h4>instagram da comunidade</h4>
    </footer>
</html>